/* global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #1a1a1a;
    margin: 10px 0px;
}

.container {
    width: 100%;
    max-width: 1400px;

}

.navbar {
    background-color: #ffffff; 
    border-radius: 4px;      
    /* width: 100%; */
}

.navbar-flex {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 15px;
}

.nav-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-image {
    height: 40px;
    width: auto;
    display: block;
    object-fit: contain;
}

.nav-menu {
    display: flex; 
    list-style: none;
    gap: 25px; 
}

.nav-menu a {
    text-decoration: none; 
    color: #666666; 
    font-size: 15px;
    font-weight: 500;
    transition: color 0.2s ease;
}

.nav-menu a:hover {
    color: #000000;
}


.register-btn {
    background-color: #2555d9; 
    color: #ffffff;
    border: none;
    padding: 12px 28px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.register-btn:hover {
    background-color: #1b44b8;
}
